/* ===== RESPONSIVIDAD ===== */

/* Tablets (pantallas medianas, entre 768px y 1024px) */
@media (max-width: 1024px) {
    .BloqueGeneral {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0rem 0;
        margin: 0 auto;
        width: 100%;
    }

    .bienvenida-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        height: auto;
    }


    .bienvenida-title {
        margin-top: 2rem;
        font-size: 3rem;
    }

    .cedula-input {
        width: 90%;
        font-size: 1.3rem;
    }


    .Imagen-gif {
        display: flex;
        height: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0 auto;
    }

    .gif {
        height: auto;
        width: 100%;
        right: 0;
        top: 4rem;
    }

    .cedula-input {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        margin: 0 auto;
        border-radius: 2rem;
        padding: 1.2rem;
        width: 50%;
        border: 0.2rem solid grey;
        letter-spacing: 0.2rem;
        transition: border-color 0.3s, color 0.3s;
        outline: none;
    }

    .btn-mobile-only {
        display: block;
        margin: 0 auto;

    }

}

/* Móviles (pantallas pequeñas, menos de 768px) */
@media (max-width: 500px) {
    .BloqueGeneral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .bienvenida-title {
        font-size: 2rem;
        text-align: center;
    }

    .cedula-input {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        margin: 0.5rem auto;
        border-radius: 2rem;
        width: 70%;
        height: 1.2rem;
        border: 0.2rem solid grey;
        letter-spacing: 0.2rem;
        transition: border-color 0.3s, color 0.3s;
        outline: none;
    }

    .cedula-help {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        color: #689a40;
        font-weight: 600;
        margin: 0.5rem auto;
    }

    .Imagen-gif {
        display: flex;
        overflow: visible;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .gif {
        max-width: 100%;
        height: auto;
        display: flex;
        top: 1.5vh;
        right: 0vw;
        width: 115%;
    }
}